 .head-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 3em;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2em 0;

 }
 .head-container{
    background: #f8f8f8;
    margin-bottom: 3em;

 }